<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Proj. Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
      <img src="https://th.bing.com/th/id/OIP.WIZ_nEhqc8IVV5puBGdxWQHaHa?rs=1&pid=ImgDetMain" alt="">
      <ion-content class="ion-padding"></ion-content>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
