<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="https://img.freepik.com/fotos-premium/cartao-postal-do-rio-de-janeiro-num-dia-ensolarado_62972-31406.jpg" alt="">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    
      <ion-button fill="clear">Action 1</ion-button>
      <ion-button fill="clear">Action 2</ion-button>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
    
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    
    <style>
      ion-item {
        --padding-start: 0;
      }
    </style>

<ion-card color="primary">
<ion-card-header>
  <ion-card-title>Card Title</ion-card-title>
  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
</ion-card-header>

<ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card color="secondary">
<ion-card-header>
  <ion-card-title>Card Title</ion-card-title>
  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
</ion-card-header>

<ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card color="tertiary">
<ion-card-header>
  <ion-card-title>Card Title</ion-card-title>
  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
</ion-card-header>

<ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card color="success">
<ion-card-header>
  <ion-card-title>Card Title</ion-card-title>
  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
</ion-card-header>

<ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card color="warning">
<ion-card-header>
  <ion-card-title>Card Title</ion-card-title>
  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
</ion-card-header>

<ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card color="danger">
<ion-card-header>
  <ion-card-title>Card Title</ion-card-title>
  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
</ion-card-header>

<ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card color="light">
<ion-card-header>
  <ion-card-title>Card Title</ion-card-title>
  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
</ion-card-header>

<ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card color="medium">
<ion-card-header>
  <ion-card-title>Card Title</ion-card-title>
  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
</ion-card-header>

<ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card color="dark">
<ion-card-header>
  <ion-card-title>Card Title</ion-card-title>
  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
</ion-card-header>

<ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card>
<ion-card-header>
  <ion-card-title>Card Title</ion-card-title>
  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
</ion-card-header>

<ion-card-content>
  Here's a small text description for the card content. Nothing more, nothing less.
</ion-card-content>
</ion-card>

<style>
ion-card {
  --background: #ffffff;
  --color: #000000;
}

ion-card-title {
  --color: #000000;
}

ion-card-subtitle {
  --color: #d1fff8;
}
</style>
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
